:root {
    --border-radius: 12px;
    --text-colour: orange;
}

html {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    flex-direction: column;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgb(202, 202, 202);
    justify-content: center;
    align-items: center;
    align-content: center;
}
#game-container { 
    border-radius: var(--border-radius);
    box-shadow: 0px 10px 30px  black;
}
#questiontext{
    display: flex;
    text-align: start;
    background-color: rgb(34, 34, 34);
    min-width: 800px;
    max-width: 60vw;
    padding: 20px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

}



.btn:hover {
    background:rgb(44, 44, 44);
    outline: 4px solid orange;
}

.btnbutton:focus {
    color: rgb(44, 44, 44); ;
    background: orange;
}
/* display none on top bar for now */

.topbar{

}

.scoretext{
    margin: 0px;
}
  

#timer{

}

.placeholder{
    min-width: 500px;
}


.hide{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
}

input {
    text-transform: uppercase;
    min-height: 40px;
    min-width: 100%;
    border-radius: 12px;
    border: black 2px solid;
    text-align: center;

}

.enterName {
    text-align: center;
}

.form button {
    text-align: center;
}

.inputsection{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}


.finalButtons{
    display: flex;
}


a {
    color: inherit;
    text-decoration: inherit;
}

#submitBtn {
    background:rgb(21, 64, 255);
    color: white;
    border: none;
}

li{
    text-align: ce;
    list-style: none;
}

.main-div {
  
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 00px;
}
.main-div button {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background-color: rgb(64, 2, 233);
    color: white;
    text-transform: uppercase;
    flex: 0 0 100%;
}
/* -------------------------------------------------   */
.my-list{
    background-color: red;
    display: flex;

}

.mainWrapper {
    display: flex;
    justify-content: center;
    background-color: orange;
}
.mainCard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    background-color: orange;
    border: white solid 4px;
    min-width: 400px;
    min-height: 300px;
  
}

.mainBox {
    padding: 20px;
    background-color: rgb(255, 0, 179);
}

.cardBox {
    background-color: green;
    display: flex;
    flex: 1 0 100%;
    
}

.miniCard {
    border: solid 3px white; 
    margin: 10px;
    padding: 10px;
}

.searchBox {
    background-color:  rgb(224, 4, 4);
}


#clearBtn{

}

/* -------------------------------------------------   */