
html {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

body {
    flex-direction: column;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: #0e0e0e;
    justify-content: center;
    align-items: center;
    align-content: center;
}
button {
    cursor: pointer;
}


.form {
    display: flex;
}


.btn:hover {
    background:rgb(44, 44, 44);
    outline: 4px solid orange;
}

.btnbutton:focus {
    color: rgb(44, 44, 44); ;
    background: orange;
}
/* display none on top bar for now */





.hide{
    display: none;
}

.form{
    display: flex;
    flex-direction: column;
}


#submitBtn {
    background:#DA0037;
    color: white;
    border: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    min-width: 240px;
    margin-bottom: 5px;
}
#submitBtn:hover {
    background-color: rgb(7, 185, 7);
    transition: 500ms;
    
}

input {
   
    min-height: 40px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border:none;
    text-align: center;
  

}

.enterName {
    text-align: center;
}

.form button {
    min-height: 30px;
    text-align: center;
}
.submit:hover {
    min-height: 60px;
    text-align: center;
    transform: scale(2);
    transition: 1s;
}

.inputsection{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}


.finalButtons{
    display: flex;
}


a {
    color: inherit;
    text-decoration: inherit;
}

li{
    text-align: ce;
    list-style: none;
}

.main-div {
  
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 00px;
}

/* -------------------------------------------------   */
.my-list{
    background-color: red;
    display: flex;

}

.mainWrapper {
    display: flex;
    justify-content: center;
    background-color: orange;
}



.cardBox {
    background-color: green;
    display: flex;
    flex: 1 0 100%;
    
}

.miniCard {
    border: solid 3px white; 
    margin: 10px;
    padding: 10px;
}

.searchBox {
    background-color:  rgb(224, 4, 4);
}


#clearBtn{
    
}

/* -------------------------------------------------   */

.searchSection { 
  margin-right:  40px;
}

.mainCard{
background: linear-gradient(180deg, rgba(218,0,55,1) 40%, rgba(23,23,23,1) 100%);
min-width: 1000px;
font-weight: bold;
font-size: 40px;
color: aliceblue;
min-height:auto;
padding-left: 20px;
padding-top: 10px;
border-top-left-radius: 12px;
border-top-right-radius: 96px;
}

.masterContainer {
    display: flex;
}

.buttonList {
    background-color: 444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.masterContainer {
    background-color: #171717;
    padding: 100px;
    border-radius: 12px;
}

#smallerMain{
    font-size: 30px;
}

.cityName {
    margin-bottom: 0px;
}

#clearLocal {
    background-color: #DA0037;
    min-width: 300px;
    max-width: 300px;
    margin: 8px;
    min-height: 30px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    color: white;  
}

#clearLocal:hover {
    transform: scale(1.1);
    transition: 400ms;
    background-color: rgb(7, 185, 7);
}


.historyBtn  {
    background-color: #444444;
    min-width: 300px;
    max-width: 300px;
    margin: 8px;
    min-height: 30px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    text-transform: capitalize;
    color: white;  
}

.historyBtn:hover {
    transform: scale(1.1);
    transition: 500ms;
    background-color: #DA0037;
}

.weatherIcon {
    margin: 0px;
    padding: 0px;
}

.cityTemp {
    margin-top: -30px;
}


.lowUv{
background-color:  yellow;
}
.medUv{
    background-color:  yellow;

}
.highUv{

    background-color:  yellow;
}


.navBar{
    font-weight: bold;
    letter-spacing: 24px;
    min-width: 100vw;
    text-align: center;
    margin: 0px;
    position: absolute;
    top: 40px;
    
    
    
}
.navText{
    color: #DA0037;
    font-weight: bold;
    font-size: 30px;
    font-size: 70px;
    letter-spacing: 16px;
    
}

.dailyCardContainer {
    display: flex;
    color: white;
    background-color: green;
    margin-top: 60px;
    background: linear-gradient(180deg, rgba(218,0,55,1) 40%, rgba(23,23,23,1) 100%);
    padding: 30px;
    justify-content: space-evenly;
    border-top-right-radius: 12px;
    border-top-left-radius: 96px;
}

.daily {
    background-color: #0e0e0e;
    border-radius: 12px;
    margin-right: 20px;
    padding: 16px 32px;
    outline: white 4px solid;
    margin-top: 24px;
    
}